{{!< default}}

{{#post}}

<main class="content" role="main">

    <article class="{{post_class}}">

		<header class="post-header{{#if image}} has-cover{{/if}}">
			<div class="inner">
				<h1 class="post-title">{{{title}}}</h1>
			</div>
			{{#if image}}
			<div class="post-cover" style="background-image: url('{{image}}');"></div>
			{{/if}}
		</header>
		
		<div class="inner">
	
			<section class="post-content">
				{{content}}
			</section>
		
		</div>

        {{/post}}

    </article>

</main>
